{% extends 'admin/master.html' %}

{% block body %}

<div class="well bs-component">
	{% if current_user.is_authenticated() %}
	<div class="row">
		<div class="span1">	
			<img src="{{ url_for('static', filename='sleepy.jpg')}}" style="width: 50%; height: 50%"/>
		</div>
		<div class="span6">
			<h1>Blind XSS Collector</h1>
			<br>
			<h4>Total number of captures: <strong>{{total_captures}}<strong><h4>
		</div>
	</div>

	{% else %}
	<form method="POST" action="" class="form-horizontal">
		<fieldset>
			<legend>Login</legend>
			<div class="form-group">
				<label for="login" class="col-lg-2 control-label">Username</label>
				<div class="col-lg-10">
				<input type="text" class="form-control" id="login" name="login" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-lg-2 control-label">Password</label>
				<div class="col-lg-10">
				<input type="password" class="form-control" id="password" name="password" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
				<button type="submit" class="btn btn-primary btn-group">Submit</button>
				</div>
			</div>
			<div class="form-group">
			{% if csrf_token %}
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			{% endif %}
			</div>

			{{ form.hidden_tag() if form.hidden_tag }}

			{% for f in form if f.type != 'CSRFTokenField' %}
			{% if f.errors %}
			{% for e in f.errors %}
			<div class="col-lg-4">
					<div class="bs-component">
					  <div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ e }}
					  </div>
					</div>
			</div>
			{% endfor %}
			{% endif %}
			{% endfor %}
		</fieldset>
	</form>
	{{ link | safe }}
	{% endif %}
</div>


{% endblock %}
